# Environment
.env
*.env.docker

# Dependencies
node_modules/

# Docker
.docker/
docker-compose.override.yml
postgres_data/

# Build & Logs
dist/
*.log

# IDE & OS
.DS_Store
.vscode/
.idea/

# Test coverage reports
coverage/
coverage/*
*.lcov

# Docker volumes and data
**/postgres-data

# IDE and OS specific files
*.swp
*.swo
